/* Скрываем Lightbox по умолчанию */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: none;
}
.lightbox .close-button {
  position: absolute;
  font-size: 4rem;
  left: auto;
  right: 2rem;
  top: 0;
  color: white;
  cursor: pointer;
  z-index: 100;
}
.lightbox .close-button:hover {
  text-shadow: 1px 1px 6px white;
}
@media screen and (max-width: 600px) {
  .lightbox .close-button {
    right: 1rem;
  }
}
.lightbox .lightbox-content {
  position: relative;
}

.lightbox .lightbox-content img {
  object-fit: contain;
  width: 100%;
  max-height: 70vh;
}
.lightbox .lightbox-content label {
}
.lightbox .previewContainer {
  bottom: 0rem;

  width: 100%;

  overflow-x: auto; /* Показывать горизонтальную полосу прокрутки, если изображения не помещаются */
  white-space: nowrap; /* Запрет переноса текста на новую строку */
}

/* Стили для списка изображений */
.lightbox .previewContainer .previewList {
  display: inline-block;
}

/* Стили для изображений */
.lightbox .previewContainer .previewList img {
  object-fit: contain;
  width: 200px; /* Ширина каждого изображения */
  height: 150px;
  margin-right: 10px; /* Расстояние между изображениями */
}
@media screen and (max-width: 600px) {
  .lightbox .previewContainer .previewList img {
    width: 100px; /* Ширина каждого изображения */
    height: 70px;
  }
}
.lightbox .previewContainer .previewList img.active {
  border: 1px solid red;
}
/* Стили для scrollbar'а */
.previewContainer::-webkit-scrollbar {
  width: 12px; /* Ширина scrollbar'а */
}

.previewContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет thumb (перемещаемой части scrollbar'а) */
  border-radius: 6px; /* Скругленные углы thumb */
}

.previewContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Цвет thumb при наведении */
}

.previewContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет track (основной части scrollbar'а) */
}
